<div class="container">
  <div class="title">
    <h1>Pokedex</h1>
    <mat-form-field appearance="outline">
      <mat-label>Pesquisar</mat-label>
      <input
        matInput
        placeholder="Ex. Charizard"
        [(ngModel)]="pokemonSearch"
        (input)="filterList()"
      />
    </mat-form-field>
  </div>
  <div class="pokemon-list" [ngBusy]="busy$">
    <app-pokemon-card
      [pokemon]="pokemon"
      *ngFor="let pokemon of pokemonListFiltered"
    ></app-pokemon-card>
  </div>
</div>
